.mouth {
  position: absolute;
}

.aghastNoTeeth {
  width: 100px;
  height: 150px;
  top: 42%;
  left: 42%;
}

.O {
  width: 84px;
  height: 70px;
  top: 51%;
  left: 44%;
  background-image: url('/mouths/O.png');
}

.clench {
  top: 38%;
  left: 38%;
}

.U {
  width: 90px;
  height: 125px;
  top: 43.5%;
  left: 43%;
  background-image: url('/mouths/U.png');
}

.A {
  width: 100px;
  height: 125px;
  top: 43.5%;
  left: 42%;
  background-image: url('/mouths/A.png');
}

.F, .V {
  width: 125px;
  height: 175px;
  top: 36%;
  left: 38%;
  background-image: url('/mouths/F-V.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.C, .D, .G, .K, .N, .R, .S, .Y, .Z {
  width: 100px;
  height: 150px;
  top: 41%;
  left: 42%;
  background-image: url('mouths/C-D-G-K-N-R-S-Y-Z.png');
}

.E {
  width: 100px;
  height: 150px;
  top: 41%;
  left: 42%;
  background-image: url('/mouths/E.png');
}

.tongueDown {
  width: 100px;
  height: 150px;
  top: 40%;
  left: 42%;
}

.tongueMid {
  width: 95px;
  height: 150px;
  top: 42%;
  left: 43%;
  transform: rotate(-8deg);
}

.L {
  width: 125px;
  height: 200px;
  top: 34.5%;
  left: 41%;
  transform: rotate(-8deg);
  background-image: url('/mouths/L.png');
}


.mouth img {
  width: 100%;
  height: 100%;
}